*{
    margin: 0;
    font-size: 20px;
    scroll-behavior: smooth;
}

.conteiner{
    background-color: #0099;
    padding: 10px;
    direction: rtl;

}
.conteiner2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #009944;
    letter-spacing: 3px ;
    padding: 7px;
}