/*div {
    
    display: block;
    background: aquamarine;
    position: absolute;
}
div div{
    width: 80px;
    height: 80px;
    background: chartreuse;
}
.contenedor{
    position: relative;
    border: 3px solid red;
    margin: 50px auto;
    height: 400px;
    width: 400px;
}
.box1{
    left: 0;

}
.box2{  
    right: 0;
}
.box3{
    bottom: 0;
    left: 0;
}
.box4{
    bottom: 0;
    right: 0;
}
.box5{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

}
.box-fixed{
    background: cadetblue;
    position: sticky;
    opacity: .6;
    top: 50px;
}
a {
    color: violet ;
    font-size: .9em;
    font-family: cursive
}*/

.conteiner{
    width: 50%;
    height: 50%;
    background: palegreen;
    outline: 4PX solid #000;
    margin: auto;
    padding: 10px;
}
p{
    float: center;
}
h3{
    text-align:center ;
    font-size: 1.6em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000;
}
img{
    float: right;
    width: 40%;
    padding: 10px;
}