*{
    margin: 0;
}
.conteiner{
    
    background-color: #ffffff;
    filter: contrast(40);
}
.box{
    display: inline-block;
    height: 80px;
    width: 80px;
    margin: 50px;
    border-radius: 50%;
    background-color: #990000;
    filter: blur(10px);
    
}


.box:first-child{
    animation: trasladar 1.5s alternate infinite;    
    
}


@keyframes trasladar {
    
    0%{
        transform: translateX(0);

    }

    100%{
        transform: translateX(150px);
    }
}