*{
    margin: 0;

}

body{
    padding: 5px;

}

.conteiner{
    display: grid;
    height: 100vh;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-areas: 
}

header, article, aside, footer{
    padding: 10px;
    
}
header{
    background: #daf;

}

article{
    background: #099;
}

aside{
    background: #44f;

}
footer{
    background: #fe9;
}

@media screen and ( min-width: 700px) {
    .conteiner{
        display: grid;
        grid-template-areas: 
        "header header header header"
        "main main main aside "
        "main main main aside"
        "main main main aside "
        "main main main aside"
        "footer footer footer footer"
        ;
    }
    header{
        grid-area: header;
    
    }
    
    article{
        grid-area: main;
    }
    
    aside{
        grid-area: aside;
    
    }
    footer{
        grid-area: footer;
    }
}