

.conteiner{

    background: #77aaf9;
    padding: 10px;
    height: 30vh;
}

.box{
    background: #000099;
    height: 70px;
    width: 70px;
    margin: 5vh 5px;
    padding: 30px;
    animation-name: log;
    animation-duration: 5s;
    position: relative;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.47, 0.23, 0.245, 1.9)
}


@keyframes log {
    0%{
        position: relative;
        background: #000000;
        left: 0;
    }

    50%{
        background: #009900
        ;
    }

    100%{
        background: #990000;
        left: 80%;
    }
}


