*{
    margin: 0;
    padding: 7px;
}

body{
    background: radial-gradient(circle, #fff, #aaa);
}

.grid-conteiner{
    display: grid;
    grid-template-columns: 200px 200px 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 10px 10px;
    background: #000;
}
.grid-item{
    border: 3px solid #000;
    background: #fff;
}